.mstheme
{
	separator-image: url(ablrule.gif);
	list-image-1: url(ablbull1.gif);
	list-image-2: url(ablbull2.gif);
	list-image-3: url(ablbull3.gif);
	nav-banner-image: url(ablbnr.gif);
	navbutton-horiz-normal: url(blhbs.gif);
	navbutton-horiz-hovered: url(blhbh.gif);
	navbutton-horiz-pushed: url(blhbp.gif);
	navbutton-vert-normal: url(blvbs.gif);
	navbutton-vert-hovered: url(blvbh.gif);
	navbutton-vert-pushed: url(blvbp.gif);
	navbutton-home-normal: url(blhomes.gif);
	navbutton-home-hovered: url(blhomeh.gif);
	navbutton-home-pushed: url(blhomes.gif);
	navbutton-next-normal: url(blnexts.gif);
	navbutton-next-hovered: url(blnexth.gif);
	navbutton-next-pushed: url(blnexts.gif);
	navbutton-prev-normal: url(blprevs.gif);
	navbutton-prev-hovered: url(blprevh.gif);
	navbutton-prev-pushed: url(blprevs.gif);
	navbutton-up-normal: url(blups.gif);
	navbutton-up-hovered: url(bluph.gif);
	navbutton-up-pushed: url(blups.gif);
}
.mstheme-bannertxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(51, 0, 153);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 204);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(51, 0, 153);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	color: rgb(0, 0, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(ablbull1.gif);
}
ul ul
{
	list-style-image: url(ablbull2.gif);
}
ul ul ul
{
	list-style-image: url(ablbull3.gif);
}
