vti_encoding:SR|utf8-nl
_private/inforeq.txt:feedback.htm
_private/form_results.txt:info.htm
_private/inforeq.htm:page.html prod05.htm main.html prod03.htm page.htm prod04.htm bestell-.html prod02.htm
