
<!-- header -->
<header class="fixed-header">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
   <!-- Mobile Header -->
   <div class="wsmobileheader clearfix">
      <a href="index.html" class="smllogo">
         <img src="/assets/images/augurs.png" height="65" width="175" alt="augurs" />
      </a>
      <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
   </div>
   <!-- Mobile Header -->
   <div class="wsmainfull clearfix">
      <div class="wsmainwp clearfix">
         <div class="desktoplogo"><a href="index.html"><img src="assets/images/augurs.png" alt="augurs" height="65" width="175"/></a></div>
         <!--Main Menu HTML Code-->
         <nav class="wsmenu clearfix">
            <ul class="wsmenu-list">
               <li aria-haspopup="true"><a href="index.html" class="active menuhomeicon">
                     <i class="fas fa-home"></i><span class="hometext">Zuhause</span></a>
               </li>
               <li aria-haspopup="true" class="has-sumenu">
                  <a href="#">Über <span class="wsarrow"></span></a>
                  <div class="wsmegamenu clearfix">
                     <div class="container">
                        <div class="row">
                           <ul class="title-menu col-lg-12 col-md-12 col-xs-12 link-list">
                              <li class=""><span>Augurs</span></li>
                           </ul>
                           <ul class="col-lg-4 col-md-12 col-xs-12 link-list ulborder-right">
                              <li><a href="about.html">Über</a></li>
                              <li><a  href="how-we-work.html">Wie wir arbeiten</a></li>
                              <li><a  href="privacypolicy.html">Datenschutz-Bestimmungen</a></li>
                           </ul>
                           <ul class="col-lg-4 col-md-12 col-xs-12 link-list">
                              <li><a href="faq.html">FAQ's </a></li>
                              <li><a href="case-study.html">Fallstudien</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li aria-haspopup="true" class="has-sumenu">
                  <a href="#">Produkte <span class="wsarrow"></span></a>
                  <div class="wsmegamenu clearfix">
                     <div class="container">
                        <div class="row">
                           <ul class="title-menu col-lg-12 col-md-12 col-xs-12 link-list">
                              <li class=""><span>Alle Produkte </span></li>
                           </ul>
                           <ul class="col-lg-4 col-md-12 col-xs-12 link-list ulborder-right">

                              <li><a href="hospital-product.html">Krankenhausmanagementsystem</a></li>
                              <li><a href="scm.html">Supply-Chain-Management</a></li>
                              <li><a href="formb.html">Formular-Generator</a></li>
                           
                           </ul>
                           <ul class="col-lg-4 col-md-12 col-xs-12 link-list ulborder-right">
                              <li><a href="school-product.html">Schulverwaltungssystem </a></li>
                              <li><a href="pos.html">Point of Sale</a></li>
                              <li><a href="plm.html">Professionelles Arbeits-Management </a></li>
                           </ul>
                           <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
                              <li><a href="inventory-product.html">Warenwirtschaftssystem  </a></li>

                              <!-- <li><a href="restaurant-product.html">Restaurant Management System</a></li>-->
                              <li><a href="order-product.html">Auftragsverwaltungssystem </a></li> 
                              <li><a href="legal.html">Rechtssuchmaschine</a></li> 
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li aria-haspopup="true" class="has-sumenu">
                  <a href="#">Dienstleistungen <span class="wsarrow"></span></a>
                  <div class="wsmegamenu clearfix">
                     <div class="container">
                        <div class="row">
                           <ul class="title-menu col-lg-12 col-md-12 col-xs-12 link-list">
                              <li class=""><span>Alle Dienste </span></li>
                           </ul>
                           <ul class="col-lg-4 col-md-12 col-xs-12 link-list ulborder-right">
                              <li><a href="app-development.html" >App-Entwicklung</a></li>
                              <li><a href="web-development.html">Web Entwicklung</a></li>
                              <li><a href="software-development.html">Software-Entwicklung</a></li>

                           </ul>
                           <ul class="col-lg-4 col-md-12 col-xs-12 link-list ulborder-right">
                              <li><a href="software-consulting-prototyping.html">Softwareberatung und Prototyping</a>
                              </li>
                              <li><a href="digital_marketing-branding.html">Digitales Marketing & Branding </a></li>
                              <li><a href="video-graphics.html">Video und Grafik</a></li>

                           </ul>
                           <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
                              <li><a href="iot-automation.html">IOT & Automatisierung</a></li>
                               <li><a href="machine_learning-ai.html">Maschinelles Lernen und KI </a></li>
                               <li><a href="software-reengineering.html">Software-Reengineering </a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
               <li aria-haspopup="true">
                  <a href="blog.html">Blog</a>
               </li>
              <!-- <li aria-haspopup="true">
                  <a href="jobdetails-page.html">Werdegang</a>
               </li> -->
               <li aria-haspopup="true">
                  <a href="contact.html">Kontakt</a>

               </li>
            </ul>
         </nav>
         <!--Menu HTML Code-->
      </div>
   </div>
   </div>
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117330459-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117330459-1');
</script>

</header>

