vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_modifiedby:SR|Administrator
vti_timecreated:TR|18 Jul 1999 21:30:49 -0000
vti_timelastmodified:TR|18 Jul 1999 21:30:49 -0000
vti_extenderversion:SR|4.0.2.2717
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
vti_cacheddtm:TX|18 Jul 1999 21:30:49 -0000
vti_filesize:IR|5240
vti_cachedlinkinfo:VX|S|arcbannd.gif S|arcnavhd.gif S|arcnavhs.gif S|archomed.gif S|arcnextd.gif S|arcprevd.gif S|arcupd.gif S|arcglobl.gif S|arcnavvd.gif S|arcnavvs.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/arcs/arcbannd.gif FSUS|_themes/arcs/arcnavhd.gif FSUS|_themes/arcs/arcnavhs.gif FSUS|_themes/arcs/archomed.gif FSUS|_themes/arcs/arcnextd.gif FSUS|_themes/arcs/arcprevd.gif FSUS|_themes/arcs/arcupd.gif FSUS|_themes/arcs/arcglobl.gif FSUS|_themes/arcs/arcnavvd.gif FSUS|_themes/arcs/arcnavvs.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
